<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css">
<link rel="stylesheet" href="{{ url_for('static', filename='global.css') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.2/js/bootstrap.min.js"></script>
<title>Vulnerability Editor</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
<ul class="nav ">
<li class="nav-item">
<a class="nav-link active" href="{{url_for('index')}}">Create</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="{{url_for('edit')}}">Edit</a>
</li>
<li class="nav-item">
<a class="nav-link disabled" href="{{url_for('statistic')}}">Statistic</a>
</li>
</ul>
</nav>

<div class="form-container">
    <div class="card-body px-lg-5 pt-0">
        <form action="">
            <div class="form-group">
                <picture>
                    <img src="{{ url_for('static', filename='orel_resized.png') }}" alt="" class="rounded mx-auto d-block">
                </picture>
            </div>
            
            <div class="form-group">
                <p class="h4 mb-4">Create New Vulnerability Item</p>
            </div>
            
            <div class="form-row mb-3">
                <div class="col">
                    <label for="vulnerID">Vulnerability ID</label>
                    <input type="text" id="vulnerID" class="form-control" placeholder="Vulnerability ID">
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="searchVulner">Search Vulnerability</button>
                </div>
                <div class="col">
                    <label for="vulnerSource">Vulnerability Source</label>
                    <input type="text" id="vulnerSource" class="form-control" placeholder="Vulnerability Source">
                </div>
                <div class="col">
                    <label for="timestamp">Vulnerability Published</label>
                    <input type="text" id="timestamp" class="form-control" placeholder="Timestamp">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    <label for="dataType">Data Type</label>
                    <input type="text" id="dataType" class="form-control" placeholder="Data Type">
                </div>
                <div class="col">
                    <label for="dataVersion">Data Version</label>
                    <input type="text" id="dataVersion" class="form-control" placeholder="Data Version">
                </div>
                <div class="col">
                    <label for="dataFormat">Data Format</label>
                    <input type="text" id="dataFormat" class="form-control" placeholder="Data Format">
                </div>
            </div>

            <div class="form-row mb-3">
                <div class="col">
                    <label for="cvssScore">CVSS Score</label>
                    <input type="text" id="cvssScore" class="form-control" placeholder="CVSS Score">
                </div>
                <div class="col">
                    <label for="cvssRank">CVSS Rank</label>
                    <input type="text" id="cvssRank" class="form-control" placeholder="Rank">
                </div>
                <div class="col">
                    <label for="CVSS Time">CVSS Time</label>
                    <input type="text" id="cvssTime" class="form-control" placeholder="CVSS Time">
                </div>
            </div>

            <div class="form-group">
                <label for="vectorString">Vector String</label>
                <input type="text" id="vectorString" class="form-control mb-4" placeholder="Vector String">
            </div>
            
            <div class="form-group">
                <label for="CWERelated">CWEs Related</label>
                <input type="text" id="CWERelated" class="form-control mb-4" placeholder="CWE Related">
            </div>

            <div class="form-group">
                <label for="CAPECRelated">CAPEC Related</label>
                <input type="text" id="CAPECRelated" class="form-control mb-4" placeholder="CAPEC Related">
            </div>

            <div class="form-group">
                <label for="References">References</label>
                <input type="text" id="References" class="form-control mb-4" placeholder="References List">
            </div>

            <div class="form-group">
                <label for="Description">Description:</label>
                <textarea class="form-control" aria-label="With textarea" id="Description" placeholder="Description" style="height: 20vh;"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit" id="saveVulner">Save Vulnerability</button>
            </div>

        </form>
    </div>  
</div>

<script type="text/javascript">
    $(function() {
        $('#saveVulner').bind('click', function() {
            var vid = $('#vulnerID').val()
            var res = false;
            res = confirm('Really change?')
            if (res == true) {
                $.getJSON('/update_vulner_by_id', {
                    id: vid
                }, function(data) {
                    alert(data.result);
                });
            } else {
                alert('Cancel searching')
            }
        });
    });

    $(function() {
        $('#searchVulner').bind('click', function() {
            var vid = $('#vulnerID').val()
            console.log(vid);
            var res = false;
            if ((vid != "") && (vid != null)) {
                res = confirm("Find Vulnerability with ID: " + vid + '?')
            }
            if (res == true) {
                $.getJSON('/find_vulner_by_id', {
                    id: vid
                }, function(data) {
                    console.log(data)
                    $("#vulnerID").val(data.id);
                    $('#vulnerSource').val(data.source);
                    $("#dataType").val(data.data_type);
                    $("#dataFormat").val(data.data_format);
                    $('#dataVersion').val(data.data_version);
                    $('#Description').text(data.description);
                    $('#cvssTime').val(data.cvss_time);
                    $('#timestamp').val(data.published);
                    $('#cvssScore').val(data.cvss);
                    $('#cvssRank').val(data.rank);
                    $('#vectorString').val(data.vector_string);
                    $('#CWERelated').val(data.cwe);
                    $('#CAPECRelated').val(data.capec);
                    $('#References').val(data.references);
                });
                return false;
            } else {
                alert('Cancel searching')
            }
        });
    });
</script>

</body>
</html>