{% extends 'base.html' %}

{% block content %}

<div class="form-container">
    <picture>
        <img src="{{ url_for('static', filename='orel_resized.png') }}" alt="" class="rounded mx-auto d-block">
    </picture>
    <h3>Vulnerability Server Statistic</h3>
    <p></p>
    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Database</th>
            <th>Count</th>
            <th>New</th>
            <th>Modified</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1.</td>
            <td>Vulnerabilities</td>
            <td>{{ vulners_count }}</td>
            <td>0</td>
            <td>0</td>
            <td>Online</td>
        </tr>
        <tr>
            <td>2.</td>
            <td>CVE</td>
            <td>0</td>
            <td>0</td>
            <td>0</td>
            <td>Online</td>
        </tr>
        </tbody>
    </table>   
</div>

{% endblock content %}